---
import Header from '@/components/astro/Header.astro'
import Footer from '@/components/astro/Footer.astro'
export interface Props {
  title: string
  ogType: 'website' | 'article'
}

const domain = process.env.PUBLIC_SITE_DOMAIN ?? 'http://localhost:3000'

// Example: Construct a canonical URL using your production domain
const canonicalUrl = new URL(Astro.url.pathname, domain)
// Example: Construct a URL for SEO meta tags using your current domain
const socialImageUrl = new URL('/face.jpeg', canonicalUrl)

const { title, ogType } = Astro.props
---

<!DOCTYPE html>
<html lang="ja">
  <head prefix="og: http://ogp.me/ns#">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="まるのポートフォリオ兼個人サイトです。日々の活動や成果物を記録したり、のんびりブログを書きます。"
    />
    <meta property="og:site_name" content="まる家" />
    <meta content="まる家" property="og:title" />
    <meta content="summary" name="twitter:card" />
    <meta content={canonicalUrl} property="og:url" />
    <meta property="og:image" content={socialImageUrl} />
    <meta name="twitter:site" content="@kabitaya1133" />
    <meta property="og:type" content={ogType} />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <main class="main">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  @import '@/styles/_variables.scss';
  html {
    font-family: system-ui, sans-serif;
    line-height: normal;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }

  * {
    margin: 0;
    padding: 0;
  }

  ul {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
  }
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: currentColor;
  }

  .main {
    padding: 100px 20px;
  }

  html,
  body,
  #root {
    height: 100%;
    width: 100%;
    min-width: 0;
    min-height: 0;
  }
</style>
